name: Cadastro Usuario Test

on:
    pull_request:
      branches:
        - main

jobs:
    test:
      runs-on: ubuntu-latest

      steps:
        # 1. Faz checkout do repositório
        - name: Checkout repository
          uses: actions/checkout@v4

        # 2. Configura o JDK (Java 25)
        - name: Set up JDK 25
          uses: actions/setup-java@v4
          with:
            java-version: '25'
            distribution: 'temurin'

        # 3. Configura cache para dependências Maven (acelera builds)
        - name: Cache Maven packages
          uses: actions/cache@v4
          with:
            path: ~/.m2
            key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
            restore-keys: |
              ${{ runner.os }}-maven-

        # 4. Executa o build e os testes
        - name: Build and Test
          run: mvn clean verify
